<ion-header no-border>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <ion-card class="form-login">

      <div>
        <ion-item class="b-b b-light" [ngClass]="{'error-border':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
          <ion-input formControlName="username" type="text" placeholder="{{ 'LOGIN.CONTENT.INPUT_USER' | translate }}"></ion-input>
        </ion-item>

        <ion-item *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
          <p text-wrap>{{ 'VALIDATORS.USERNAME.REQUIRED' | translate }}</p>
        </ion-item>
        <ion-item *ngIf="loginForm.controls['username'].hasError('pattern') && loginForm.controls['username'].touched">
          <p text-wrap>{{ 'VALIDATORS.USERNAME.CAPITAL' | translate }}</p>
        </ion-item>
        <ion-item *ngIf="loginForm.controls['username'].hasError('minlength') && loginForm.controls['username'].touched">
          <p text-wrap>{{ 'VALIDATORS.USERNAME.MINIMUM' | translate }}</p>
        </ion-item>
        <ion-item *ngIf="loginForm.controls['username'].hasError('maxlength') && loginForm.controls['username'].touched">
          <p text-wrap>{{ 'VALIDATORS.USERNAME.MAXIMUM' | translate }}</p>
        </ion-item>
      </div>

      <div>
        <ion-item [ngClass]="{'error-border':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
          <ion-input formControlName="password" type="password" placeholder="{{ 'LOGIN.CONTENT.INPUT_PASS' | translate }}"></ion-input>
        </ion-item>

        <ion-item *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
          <p text-wrap>{{ 'VALIDATORS.USERNAME.REQUIRED' | translate }}</p>
        </ion-item>
      </div>
    </ion-card>

    <div class="padder">
      <button ion-button block outline color="primary" type="submit" [disabled]="!loginForm.valid">
        <b>{{ 'LOGIN.CONTENT.BTN_SING_IN' | translate }}</b>
      </button>
    </div>

  </form>

  <ion-row class="color-white m-t">
    <ion-col>
      <button ion-button clear color="primary" small>
        {{ 'LOGIN.CONTENT.FORGOT' | translate }}
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear color="primary" small (click)="goToSignup()">
        {{ 'LOGIN.CONTENT.JOIN_NOW' | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-content>
