<ion-tabs class="my-tabs">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Network" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Rooms" tabIcon="albums" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Bulletin" tabIcon="paper" tabBadge="3" tabBadgeStyle="secondary"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Calendar" tabIcon="calendar"></ion-tab>
</ion-tabs>
