<!--
  Generated template for the RoomViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{titleBar}}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="newsSection" color="secondary">
      <ion-segment-button value="me" (ionSelect)="segmentChanged('me')">
        Mis Reservas
      </ion-segment-button>
      <ion-segment-button value="room" (ionSelect)="segmentChanged('room')">
        Reservas {{titleBar}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content [ngClass]="{'contentclass': changeBg}">
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>-->

  <ion-fab bottom right>
    <button ion-fab mini color="primary"><ion-icon ios="ios-add-outline" md="md-add"></ion-icon></button>
  </ion-fab>

  <div [ngSwitch]="newsSection">
    <div *ngSwitchCase="'me'">
      <div class="container">
        <ul>
          <li><span></span>
            <div>
              <div class="title">Lorem Ipsum</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
              <div class="type">Presentation</div>
            </div> <span class="number"><span>10:00</span> <span>12:00</span></span>
          </li>
          <li>
            <div><span></span>
              <div class="title">Targui</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
              <div class="type">Presentation</div>
            </div> <span class="number"><span>13:00</span> <span>14:00</span></span>
          </li>
          <li>
            <div><span></span>
              <div class="title">Imazighen</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
              <div class="type">Review</div>
            </div> <span class="number"><span>15:00</span> <span>17:45</span></span>
          </li>
          <li>
            <div><span></span>
              <div class="title">Imazighen</div>
              <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
              <div class="type">Review</div>
            </div> <span class="number"><span>18:00</span> <span>20:05</span></span>
          </li>
        </ul>
      </div>
      <!--<div class="divider-title">Recent</div>
      <ul class="timeline">
        <li>
          <img src="assets/img/company.png" alt="" class="timeline-thumb">
          <div class="timeline-item">
            <h4>Updated Profile Picture</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 2,450
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
            </div>
          </div>
        </li>
      </ul>-->
    </div>
    <div *ngSwitchCase="'room'"></div>
  </div>

</ion-content>
