<ion-header class="bg-network-error">

  <div #networkstatus>
    <network-status></network-status>
  </div>

  <ion-navbar color="primary" no-border-bottom>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-avatar>
          <img class="rounded thumb-xxs b b-white" src="assets/img/profile/hieu.png">
        </ion-avatar>
      </button>
    </ion-buttons>

    <ion-searchbar [color]="secondary" placeholder="Search" (ionFocus)="goToSearch()"></ion-searchbar>

    <!--<ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon ios="md-grid" md="md-grid"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="newsSection" color="secondary">
      <ion-segment-button value="cbox" (ionSelect)="changeCompanySeg(1)">
        CBOX
      </ion-segment-button>
      <ion-segment-button value="company" (ionSelect)="changeCompanySeg(2)">
        Company
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <!--<ion-toolbar color="white" class="my-toolbar box-shadow" (click)="newPost()" *ngIf="companySeg">
    <div class="text-muted m-l-sm">
      Share an article, photo, video or idea
    </div>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-videocam-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-camera-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content class="bg-muted">
  <ion-fab bottom right>
    <button ion-fab mini color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToProfile()"><ion-icon name="contact"></ion-icon></button>
      <button ion-fab><ion-icon name="contacts"></ion-icon></button>
      <button ion-fab><ion-icon name="chatboxes"></ion-icon></button>
      <button ion-fab><ion-icon name="list"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <ion-fab>
        <button ion-fab mini color="fab-button"><ion-icon name="share"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-instagram"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
      <button ion-fab><ion-icon name="basket"></ion-icon></button>
      <button ion-fab><ion-icon name="help"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div [ngSwitch]="newsSection">
    <div *ngSwitchCase="'cbox'">
      <div class="m-t-sm bg-white" *ngFor="let i of [0,1,2,3,4,5]; let postIndex = index" (click)="goToPost(postIndex)">
        <ion-row class="padder-sm b-b b-light" *ngIf="postIndex % 2 == 1">
          <ion-col align-self-center>
            <div class="text-muted text-sm">
              <span class="font-bold color-black">Blake Lively</span> commented on this
            </div>
          </ion-col>
          <ion-col col-auto>
            <ion-icon class="text-2x text-muted" name="more" (click)="presentPopover($event)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="wrapper-sm">
          <ion-col col-auto>
            <ion-avatar item-start>
              <demo-avatar [sizeClass]="'thumb-sm'"></demo-avatar>
            </ion-avatar>
          </ion-col>
          <ion-col class="text-ellipsis-flex">
            <div class="l-h">
              <div class="font-bold text-ellipsis">Ryan Reynold {{postIndex}}</div>
              <div class="text-sm text-muted text-ellipsis">VP of Human Resource, SML</div>
              <div class="text-sm text-muted">2d · Edited</div>
            </div>
          </ion-col>
          <ion-col col-auto>
            <ion-icon class="text-2x text-muted" name="more" (click)="presentPopover($event)"></ion-icon>
          </ion-col>
        </ion-row>

        <div class="post-caption padder m-b-sm pos-rlt l-h">
          The site has an Alexa Internet ranking as the 20th most popular website (October 2016). Based in the United States, the site
          is, as of 2013, available in 24 languages,[11] including Arabic, Chinese, English, French
          <span class="pos-abt bottom right text-muted padder bg-white">...see more</span>
        </div>

        <post-attachment type="{{postIndex % 2 == 1 ? 'url' : 'image'}}"></post-attachment>

        <div class="padder m-b-sm">
          <div class="b-b b-light">
            <div class="m-t-sm m-b-sm">
              6 Likes · 24 Comments
            </div>
          </div>
        </div>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small color="muted">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>Like</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small color="muted">
              <ion-icon name="text"></ion-icon>
              <div>Comment</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button ion-button icon-left clear small color="muted">
              <ion-icon name="share"></ion-icon>
              <div>Share</div>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

    <div *ngSwitchCase="'company'">

      <ion-list>
        <ion-item class="text">
          EL contenido:
        </ion-item>
        <ion-item class="text" *ngFor="let post of postList$ | async">
          El contenido: {{post.author}}
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
  </div>

</ion-content>
