<!--
  Generated template for the RoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" no-border-bottom>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-avatar>
          <img class="rounded thumb-xxs b b-white" src="assets/img/profile/hieu.png">
        </ion-avatar>
      </button>
    </ion-buttons>

    <ion-searchbar [color]="primary" placeholder="Search" (ionFocus)="goToSearch()"></ion-searchbar>

    <!--<ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon ios="md-grid" md="md-grid"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let room of rooms" (click)="goToRoom(room.name)">
    <img src="assets/img/rooms/{{room.image}}"/>
    <div class="card-title">{{room.name}}</div>
    <div class="card-subtitle">{{room.sub_title}}</div>
  </ion-card>
</ion-content>
