page-room {

  ion-card{
    position: relative;
    text-align: center;
    height: 29%;
  }

  ion-card img {
    filter: blur(2px);
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: color($colors, secondary);
    text-shadow: 2px 2px color($colors, primary);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 54%;
    width: 100%;
    color: color($colors, secondary);
    text-shadow: 2px 2px color($colors, primary);
  }
}
