<ion-menu type="reveal" swipeEnabled="false" side="right" [content]="mainContent">
  <page-menu></page-menu>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #mainContent main name="app"></ion-nav>

