<ion-content class="bg-img">
  <div class="wrapper color-black">
    <div class="bg-white box-shadow">
      <div class="wrapper b-b b-light">
        <div class="text-center">
          <div class="thumb-lg b b-white">
            <img class="rounded" src="{{ myPhotoURL }}">
          </div>
        </div>
        <button ion-button clear icon-start class="text-center" (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
          Camera
        </button>
        <button ion-button clear icon-start class="text-center" (click)="selectPhoto()">
          <ion-icon name="images"></ion-icon>
          Select Galery
        </button>
        <p class="text-center">{{ 'SETPROFILE.CONTENT.TXT_PHOTO' | translate }}</p>
      </div>
    </div>
  </div>
  <form [formGroup]="setProfileForm" (ngSubmit)="onSubmit(setProfileForm.value)">
    <ion-card class="form-login">

      <div>
        <ion-item class="b-b b-light" [ngClass]="{'error-border':!setProfileForm.controls['name'].valid && setProfileForm.controls['name'].touched}">
          <ion-input formControlName="name" type="text" placeholder="{{'SETPROFILE.CONTENT.INPUT_NAME' | translate}}"></ion-input>
        </ion-item>

        <div>
          <ion-item *ngIf="setProfileForm.controls['name'].hasError('required') && setProfileForm.controls['name'].touched">
            <p text-wrap>{{ 'VALIDATORS.NAME.REQUIRED' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['name'].hasError('pattern') && setProfileForm.controls['name'].touched">
            <p text-wrap>{{ 'VALIDATORS.NAME.CAPITAL' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['name'].hasError('minlength') && setProfileForm.controls['name'].touched">
            <p text-wrap>{{ 'VALIDATORS.NAME.MINIMUM' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['name'].hasError('maxlength') && setProfileForm.controls['name'].touched">
            <p text-wrap>{{ 'VALIDATORS.NAME.MAXIMUM' | translate }}</p>
          </ion-item>
        </div>
      </div>

      <div>
        <ion-item class="b-b b-light" [ngClass]="{'error-border':!setProfileForm.controls['lastname'].valid && setProfileForm.controls['lastname'].touched}">
          <ion-input formControlName="lastname" type="text" placeholder="{{'SETPROFILE.CONTENT.INPUT_LAST' | translate}}"></ion-input>
        </ion-item>

        <div>
          <ion-item *ngIf="setProfileForm.controls['lastname'].hasError('required') && setProfileForm.controls['lastname'].touched">
            <p text-wrap>{{ 'VALIDATORS.LASTNAME.REQUIRED' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['lastname'].hasError('pattern') && setProfileForm.controls['lastname'].touched">
            <p text-wrap>{{ 'VALIDATORS.LASTNAME.CAPITAL' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['lastname'].hasError('minlength') && setProfileForm.controls['lastname'].touched">
            <p text-wrap>{{ 'VALIDATORS.LASTNAME.MINIMUM' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['lastname'].hasError('maxlength') && setProfileForm.controls['lastname'].touched">
            <p text-wrap>{{ 'VALIDATORS.LASTNAME.MAXIMUM' | translate }}</p>
          </ion-item>
        </div>
      </div>

      <div>
        <ion-item class="b-b b-light" [ngClass]="{'error-border':!setProfileForm.controls['email'].valid && setProfileForm.controls['email'].touched}">
          <ion-input formControlName="email" type="email" placeholder="{{'SETPROFILE.CONTENT.INPUT_EMAIL' | translate}}"></ion-input>
        </ion-item>

        <div>
          <ion-item *ngIf="setProfileForm.controls['email'].hasError('required') && setProfileForm.controls['email'].touched">
            <p>{{ 'VALIDATORS.EMAIL.REQUIRED' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['email'].hasError('email') && setProfileForm.controls['email'].touched">
            <p text-wrap>{{ 'VALIDATORS.EMAIL.FORMAT' | translate }}</p>
          </ion-item>
        </div>
      </div>

      <div>
        <ion-item class="b-b b-light" [ngClass]="{'error-border':!setProfileForm.controls['username'].valid && setProfileForm.controls['username'].touched}">
          <ion-input formControlName="username" type="text" placeholder="{{'SETPROFILE.CONTENT.INPUT_UNAME' | translate}}"></ion-input>
        </ion-item>

        <div>
          <ion-item *ngIf="setProfileForm.controls['username'].hasError('required') && setProfileForm.controls['username'].touched">
            <p text-wrap>{{ 'VALIDATORS.USERNAME.REQUIRED' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['username'].hasError('pattern') && setProfileForm.controls['username'].touched">
            <p text-wrap>{{ 'VALIDATORS.USERNAME.CAPITAL' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['username'].hasError('minlength') && setProfileForm.controls['username'].touched">
            <p text-wrap>{{ 'VALIDATORS.USERNAME.MINIMUM' | translate }}</p>
          </ion-item>
          <ion-item *ngIf="setProfileForm.controls['username'].hasError('maxlength') && setProfileForm.controls['username'].touched">
            <p text-wrap>{{ 'VALIDATORS.USERNAME.MAXIMUM' | translate }}</p>
          </ion-item>
        </div>
      </div>

      <div>
        <ion-item [ngClass]="{'error-border':!setProfileForm.controls['company'].valid && setProfileForm.controls['company'].touched}">
          <ion-label>{{'SIGNUP.CONTENT.INPUT_COMP' | translate}}</ion-label>
          <ion-select [formControl]="setProfileForm.controls['company']" okText="Okay" (ionChange)="onChange(company)">
            <ion-option *ngFor="let company of companys | async" value="{{ company.value }}">{{ company.name }}</ion-option>
          </ion-select>
        </ion-item>

        <div>
          <ion-item *ngIf="setProfileForm.controls['company'].hasError('required') && setProfileForm.controls['company'].touched">
            <p text-wrap>{{ 'VALIDATORS.COMPANY.REQUIRED' | translate }}</p>
          </ion-item>
        </div>
      </div>

    </ion-card>

    <div class="padder">
      <button ion-button block outline color="primary" type="submit" [disabled]="!setProfileForm.valid">
        <b>{{'SETPROFILE.CONTENT.BTN' | translate}}</b>
      </button>

      <div class="wrapper-sm">
        <button ion-button block clear color="primary" (click)="onBackPage()">
          {{'SETPROFILE.CONTENT.TXT_BACK' | translate}}
        </button>
      </div>
    </div>

  </form>

 <!--<network-status></network-status>-->

</ion-content>
