$colorDanger: color($colors, danger);

page-set-profile {
  .error-box {
    background-color: $colorDanger !important;
  }

  .error-border {
    border-bottom: 2px solid $colorDanger !important;
  }
}
