page-welcome {
  .slide-logo {
    padding: 0 6px;
    border-radius: 4px;
    font-weight: 700;
    background-color: color($colors, primary);
    color: #fff;
  }

  .bg-lighter {
    background-color: lighten(color($colors, primary), 40%);
  }

  .swiper-pagination-bullet-active {
    background: map-get($colors, secondary);
  }

  .swiper-pagination {
    bottom: 0% !important;
  }

  .logo-mk {
    width: 80%;
  }

}
