<ion-content [ngClass]="{'bg-img': changeBg}">
  <div vertical layout fit>
    <div flex>
      <ion-slides #slides pager (ionSlidqeDidChange)="slideChanged()">
        <ion-slide>
          <div>
            <img class="logo-mk" src="assets/img/logo.png" >
            <!--<span class="text-2x slide-logo">C</span>
            <span class="text-2x font-bold">BOX</span>-->
          </div>

          <h3 class="font-thin">
            {{'WELCOME.SLOGAN' | translate}}
          </h3>
        </ion-slide>

        <ion-slide>
          <h3 class="font-thin color-primary">
            {{'WELCOME.SLIDES.SLIDE1.PART1' | translate}}
            <br>
            {{'WELCOME.SLIDES.SLIDE1.PART2' | translate}}
          </h3>

          <div class="wrapper color-black">
            <div class="bg-white box-shadow">
              <div class="wrapper b-b b-light">
                <div class="text-center">
                  <div class="thumb-lg b b-white">
                    <img class="rounded" src="assets/img/profile/UserDefault.png">
                  </div>
                </div>
                <h3 class="font-thin">{{'WELCOME.SLIDES.SLIDE1.NAME' | translate}}</h3>
                <p class="text-sm">{{'WELCOME.SLIDES.SLIDE1.SUB1' | translate}}</p>
                <div class="text-sm text-muted">{{'WELCOME.SLIDES.SLIDE1.SUB2' | translate}}</div>
              </div>
              <div>
                <button ion-button block clear>{{'WELCOME.SLIDES.SLIDE1.BTN' | translate}}</button>
              </div>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <h3 class="font-thin color-primary">
            {{'WELCOME.SLIDES.SLIDE2.PART1' | translate}}
            <br>
            {{'WELCOME.SLIDES.SLIDE2.PART2' | translate}}
            <br>
            {{'WELCOME.SLIDES.SLIDE2.PART3' | translate}}
          </h3>

          <div class="wrapper">
            <div text-left>
              <div class="thumb-sm m-b-lg">
                <img src="assets/img/profile/ben.png" alt="" class="rounded">
              </div>
              <div class="inline bg-white wrapper-sm text-sm">
                {{'WELCOME.SLIDES.SLIDE2.MSM1' | translate}}
              </div>
            </div>

            <div text-right>
              <div class="inline bg-lighter wrapper-sm text-sm">
                {{'WELCOME.SLIDES.SLIDE2.MSM2' | translate}}
              </div>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <h3 class="font-thin color-primary">
            {{'WELCOME.SLIDES.SLIDE3.PART1' | translate}}
            <br>
            {{'WELCOME.SLIDES.SLIDE3.PART2' | translate}}
          </h3>

          <div class="wrapper color-black">
            <div class="bg-white box-shadow">
              <div class="b-b b-light">
                <ion-row align-items-center>
                  <ion-col col-auto>
                    <div class="thumb b b-white">
                      <img class="rounded" src="assets/img/profile/max.png">
                    </div>
                  </ion-col>
                  <ion-col text-left>
                    <div class="text-md">
                      {{'WELCOME.SLIDES.SLIDE3.TXT1' | translate}} <br> {{'WELCOME.SLIDES.SLIDE3.TXT2' | translate}}
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div>
                <ion-list class="m-n" no-lines>
                  <ion-item>
                    <ion-icon name="briefcase" item-start></ion-icon>
                    <h3>
                      Your next job
                    </h3>
                    <p>
                      You can do it
                    </p>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="briefcase" item-start></ion-icon>
                    <h3>
                      Your next career move
                    </h3>
                    <p>
                      You can do it too
                    </p>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="wrapper" *ngIf="!changeBg">
      <button ion-button primary full (click)="goToSignup()">
        <b>{{ 'WELCOME.JOIN_NOW' | translate }}</b>
      </button>
      <button ion-button clear primary full (click)="goToLogin()">
        <b>{{ 'WELCOME.SIGN_IN' | translate }}</b>
      </button>
    </div>

    <div class="wrapper" *ngIf="changeBg">
      <button ion-button outline color="secondary" block (click)="goToSignup()">
        <b>{{ 'WELCOME.JOIN_NOW' | translate }}</b>
      </button>
      <button ion-button clear color="secondary" full (click)="goToLogin()">
        <b>{{ 'WELCOME.SIGN_IN' | translate }}</b>
      </button>
    </div>
  </div>
</ion-content>
