<ion-header no-border>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
    <ion-card class="form-login">

      <div>
        <ion-item class="b-b b-light" [ngClass]="{'error-border':!signUpForm.controls['email'].valid && signUpForm.controls['email'].touched}">
          <ion-input formControlName="email" type="text" placeholder="{{'SIGNUP.CONTENT.INPUT_EMAIL' | translate}}"></ion-input>
        </ion-item>

        <ion-item *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched">
          <p>{{ 'VALIDATORS.EMAIL.REQUIRED' | translate }}</p>
        </ion-item>
        <ion-item *ngIf="signUpForm.controls['email'].hasError('email') && signUpForm.controls['email'].touched">
          <p text-wrap>{{ 'VALIDATORS.EMAIL.FORMAT' | translate }}</p>
        </ion-item>
      </div>

    </ion-card>

    <ion-card class="form-login">

      <div>
        <ion-item [ngClass]="{'error-border':!signUpForm.controls['password'].valid && signUpForm.controls['password'].touched}">
          <ion-input formControlName="password" type="password" placeholder="{{'SIGNUP.CONTENT.INPUT_PASS' | translate}}"></ion-input>
        </ion-item>

        <ion-item class='form-text error' *ngIf="signUpForm.controls['password'].touched && !signUpForm.controls['password'].valid">
          <p text-wrap>{{ 'VALIDATORS.PASSWORD.CAPITAL' | translate}}</p>
        </ion-item>
      </div>

      <div>
        <ion-item [ngClass]="{'error-border':!signUpForm.controls['confirmPassword'].valid && signUpForm.controls['confirmPassword'].touched}">
          <ion-input formControlName="confirmPassword" type="password" placeholder="{{'SIGNUP.CONTENT.INPUT_REPASS' | translate}}"></ion-input>
        </ion-item>

        <ion-item *ngIf="signUpForm.controls['confirmPassword'].hasError('mismatchedPasswords') && signUpForm.controls['password'].valid">
          <p wrap-text>{{ 'VALIDATORS.PASSWORD.MATCH' | translate }}</p>
        </ion-item>
      </div>

    </ion-card>

    <div class="wrapper color-white" text-center>
      {{'SIGNUP.CONTENT.TXT_T&C' | translate}}
    </div>

    <div class="padder">
      <button ion-button block outline color="primary" type="submit" [disabled]="!signUpForm.valid">
        <b>{{'SIGNUP.CONTENT.BTN' | translate}}</b>
      </button>

      <div class="wrapper-sm">
        <button ion-button block clear color="primary" (click)="goToLogin()">
          {{'SIGNUP.CONTENT.TXT_LOGIN' | translate}}
        </button>
      </div>
    </div>
  </form>

</ion-content>
