$colorDanger: color($colors, secondary);

network-status {
  .network-status {
    height: 100%;
    width: 100%;
    background-color: $colorDanger;
    bottom: 0px;
    z-index: 1;
  }

  .network-status p {
    text-align: center;
    vertical-align: middle;
  }
}
